.main
{
	width:1000px;
	height:auto;
	margin:auto;
}
 
.header
{
	width:100%;
	height:200px;
	background-image: url('../Images/download.jpg');
	background-size: cover;
	font-size: 50px;
	font-family: arial;
	color:white;
	text-align: center;
	padding-top: 30px;
}
.menu
{
	width:100%;
	height:38px;
	background-color: lightblue;
	
}
.content1
{
	width:500px;
	height:140px;
	font-size:15px;
	color:brown;
	background-color: orange;
	float: left;
	padding-top:10px;
	padding-left:10px;
	padding-right:5px;

}
.content2
{
	width:500px;
	height:140px;
	font-size:15px;
	color:white;
	background-color: violet;
	margin-left: 500px;
	padding-top:10px;


}
.gallery
{
	width:100%;
	height:200px;
	font-size: 40px;
	text-align: center;
	background-image: url('../Images/download.jpg');
	background-size:cover;
	color:white;
	padding-top: 30px;
}

ul
{
	list-style-type: none;
	margin:0px;
	padding: 0px;
	width:1000px;
	left:0px;
	top:0px;

}

li
{
float:left;
}


li a
{
color:red;
background-color: lightblue;
text-decoration: none;
display: block;
padding:10px 20px;

}

li a:hover
{
color:white;
background-color: black;
}

